<div class="header">
    <div class="header_inner d-flex justify-content-between">
        <div class="align-items-center">
            <h5 class="text-uppercase px-4 "> {{helperService.ActivePageName}} </h5>
        </div>
        <div>
            <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control" placeholder="Search anything here.. ">
              </div>
        </div>
        <div class="d-flex">
            <div>
                <span id="group">
                    <button type="button" class="btn btn-light"> 
                     <i class="fa fa-envelope-o" style="font-size: large;"></i>
                    </button>
                    <span class="badge badge-light">1</span>
                  </span>
            </div>
            <div>
                <span id="group">
                    <button type="button" class="btn btn-light"> 
                     <i class="fa fa-bell-o" style="font-size: large;"></i>
                    </button>
                    <span class="badge badge-light">1</span>
                  </span>
            </div>
        </div>
    </div>
</div>