<div class="dashboard_wrapper">
    <div class="row row-xs mb-3 mt-1">
        <div class="col-lg-4 col-xl-4 col-sm-4 col-md-4 pr-0">
            <div class="card border-0 pd-b-20" style="border-radius: 0.8rem;min-height:96vh;">
                <div class="d-flex justify-content-between  p-3">
                    <div class="mt-2">
                        <span style="font-weight: bold;font-size: 20px;color: #1D1C30;">My Card 1</span>
                        <span class="text-muted">/2</span>
                    </div>
                    <div>
                        <span id="group">
                            <button type="button" class="btn btn-light btnArrow">
                                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            </button>
                        </span>
                        <span id="group">
                            <button type="button" class="btn btn-light btnArrow">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="pt-2">
                    <img src="../../../assets/img/card.png" alt="" class="cardImg">
                </div>

                <button class="btn btn-lg btn-block m-4" style="border: 1px dashed gray;"> <i class="fa fa-plus-circle"
                        aria-hidden="true"></i> Add New Card</button>

                <div class="hl"></div>

                <div class="p-2 mb-3">
                    <h5 style="color:#1D1C30;" class="pb-2">Quick Actions</h5>
                    <div class="card p-3 mt-2" style="border-radius: 0.8rem;">
                        <div class="d-flex justify-content-between align-items-center text-center">
                            <div class="align-items-center ml-2">
                                <i class="fa fa-plus-square-o" style="font-size:xx-large;" aria-hidden="true"></i>
                                <h6>Top Up</h6>
                            </div>
                            <!-- <div class="vl"></div> -->
                            <div class="align-items-center">
                                <i class="fa fa-paper-plane-o" style="font-size:xx-large;" aria-hidden="true"></i>
                                <h6>Transfer</h6>
                            </div>
                            <!-- <div class="vl"></div> -->
                            <div class="align-items-center">
                                <i class="fa fa-money" style="font-size:xx-large;" aria-hidden="true"></i>
                                <h6>Withdrawal</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hl"></div>

                <div class="p-3">
                    <div class="d-flex justify-content-between">
                        <h5 style="color:#1D1C30;" class="pb-2">Saving Plan</h5>
                        <div class="mr-3">
                            <i class="fa fa-plus-circle" style="font-size: x-large;" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="card p-3 mt-2" style="border-radius: 0.8rem;">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <span id="group">
                                        <button type="button" class="btn btn-light btnArrow">
                                            <img src="../../../assets/img/watch.svg" alt=""
                                                style="max-width: 5vh;height:5vh;">
                                        </button>
                                    </span>
                                </div>
                                <div class="pt-1">
                                    <span style="font-weight: bold;">New Watch</span><br />
                                    <span style="font-size: small;"> Target <i class="fa fa-usd"
                                            aria-hidden="true"></i>{{2000|number:'1.0-1'}}</span>
                                </div>
                            </div>
                            <div>
                                <i class="fa fa-ellipsis-h" style="font-size: x-large;" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between pt-3 pb-2">
                            <div style="font-weight: bold; font-size: small;">Total: <i class="fa fa-usd"
                                    aria-hidden="true"></i>{{1000|number:'1.0-1'}}</div>
                            <div style=" font-size: small;">50%</div>
                        </div>
                        <div class="progress" style="height:7px;">
                            <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="card p-3 mt-2" style="border-radius: 0.8rem;">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <span id="group">
                                        <button type="button" class="btn btn-light btnArrow">
                                            <i class="fa fa-television" aria-hidden="true"
                                                style="font-size: x-large;padding: 5px 3px 5px 3px; margin-left: 2px;"></i>
                                        </button>
                                    </span>
                                </div>
                                <div class="pt-1">
                                    <span style="font-weight: bold;">Play Station 5</span><br />
                                    <span style="font-size: small;"> Target <i class="fa fa-usd"
                                            aria-hidden="true"></i>{{2000|number:'1.0-1'}}</span>
                                </div>
                            </div>
                            <div>
                                <i class="fa fa-ellipsis-h" style="font-size: x-large;" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between pt-3 pb-2">
                            <div style="font-weight: bold; font-size: small;">Total: <i class="fa fa-usd"
                                    aria-hidden="true"></i>{{1000|number:'1.0-1'}}</div>
                            <div style=" font-size: small;">70%</div>
                        </div>
                        <div class="progress" style="height:7px;">
                            <div class="progress-bar2 bg-dark" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8 col-xl-8 col-sm-8 col-md-8 pl-0">
            <div class="card border-0 p-3" style="height: 140px;border-radius: 0.8rem;">
                <h5 class="txtColorBalance">Total Balance</h5>
                <h2> <i class="fa fa-usd" aria-hidden="true"></i>{{balance?.total_balance |number:'1.0-1'}}</h2>
                <div class="pt-2">
                    <div class="progress" style="height:7px;">
                        <div class="totalBalance bg-dark" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="d-flex justify-content-between" style="font-size: 12px;">
                    <div>Monthly payment limit</div>
                    <div>
                        <span style="font-weight: bold;"><i class="fa fa-usd"
                                aria-hidden="true"></i>{{balance?.payment_done_so_far |number:'1.0-1'}}</span>
                        <span style="color: grey;"> / <i class="fa fa-usd"
                                aria-hidden="true"></i>{{balance?.monthly_payment_limit|number:'1.0-1'}}</span>
                    </div>
                </div>
            </div>
            <div class="card border-0 mt-2 p-3" style="border-radius: 0.8rem;">
                <div class="row">
                    <div class="col-sm-4">
                        <h5 class="txtColorBalance pt-2">Money Statictics</h5>
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <select class="form-control">
                                <option *ngFor="let item of filter" [value]="item.name" [selected]="item.id == 2">
                                    {{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <i class="fa fa-ellipsis-h pt-2" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="p-2 mb-3">
                    <div class="p-3 mt-2">
                        <div class="d-flex justify-content-between">
                            <div class=" ml-2">
                                <h6 class="text-muted">Total Income</h6>
                                <h5 class="txtColorBalance"><i class="fa fa-usd" style="font-size:x-large;"
                                        aria-hidden="true"></i>{{moneyStatistics?.total_income.value |number :'1.0-1'}}
                                </h5>
                                <span [ngStyle]="{color:moneyStatistics?.total_income.trend_color}"><i
                                        class="fa fa-line-chart"
                                        aria-hidden="true"></i>{{moneyStatistics?.total_income.trend}}%</span> from last
                                month
                            </div>
                            <div class="align-items-center" style=" border-left: 1px solid gray;padding-left: 15px;">
                                <h6 class="text-muted">Total Expenses</h6>
                                <h5 class="txtColorBalance"><i class="fa fa-usd" style="font-size:x-large;"
                                        aria-hidden="true"></i>{{moneyStatistics?.total_expense?.value|number :'1.0-1'}}
                                </h5>
                                <span [ngStyle]="{color:moneyStatistics?.total_expense.trend_color}"><i
                                        class="fa fa-line-chart"
                                        aria-hidden="true"></i>{{moneyStatistics?.total_expense.trend}}%</span> from
                                last month
                            </div>
                            <div class="align-items-center" style=" border-left: 1px solid gray; padding-left: 15px;">
                                <h6 class="text-muted">Total Investment</h6>
                                <h5 class="txtColorBalance"><i class="fa fa-usd" style="font-size:x-large;"
                                        aria-hidden="true"></i>{{moneyStatistics?.total_investment.value|number
                                    :'1.0-1'}}</h5>
                                <span [ngStyle]="{color:moneyStatistics?.total_investment.trend_color}"><i
                                        class="fa fa-line-chart"
                                        aria-hidden="true"></i>{{moneyStatistics?.total_investment.trend}}%</span> from
                                last month
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="display: block; ">
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                            [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                            [type]="'bar'" [legend]="false" height="100"></canvas>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div style="margin: 10px 10px 5px 10px;">
                            <span class="dot" style="background-color: #91A7A7;"></span>&nbsp;
                            <span>Income</span>
                        </div>
                        <div style="margin: 10px 10px 5px 10px;">
                            <span class="dot" style="background-color: #8182AB;"></span>&nbsp;
                            <span>Investment</span>
                        </div>
                        <div style="margin: 10px 10px 5px 10px;">
                            <span class="dot" style="background-color: #555D8C;"></span>&nbsp;
                            <span>Expense</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-0 mt-2 p-3" style="height:350px; border-radius: 0.8rem;">
                <div class="d-flex justify-content-between">
                    <div>
                        <h5 class="txtColorBalance pt-2">Transaction History</h5>
                    </div>
                    <div class="d-flex">
                        <div class="form-group">
                            <div class="form-group has-search">
                                <span class="fa fa-search form-control-feedback"></span>
                                <input type="text" class="form-control" placeholder="Search ">
                            </div>
                        </div>
                        <div style="padding: 0 15px 0 15px;">
                            <button type="button" class="btn btn-light"
                                style="border: 0.1px solid grey;background-color: #ffffff;">
                                <i class="fa fa-filter" aria-hidden="true"></i> Filter
                            </button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-light"
                                style="border: 0.001px solid grey;background-color: #ffffff;">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i> Export
                            </button>
                        </div>
                    </div>
                </div>
                <div class="pt-3" style="overflow-y: scroll;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Type</th>
                                <th>Time</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let item of transactionsHistory  | paginate: { id: 'Paginator',itemsPerPage: PageRecordLimit, currentPage: currentPage,  totalItems: TotalRecords }; let i = index">
                                <td>{{item.date | date :'MMM dd, YYYY'}}</td>
                                <td>{{item.name}}</td>
                                <td>
                                    <span *ngIf="item.status == 'Success'" class="text-success">{{item.status}}</span>
                                    <span *ngIf="item.status == 'Pending'" class="text-warning">{{item.status}}</span>
                                    <span *ngIf="item.status == 'Failed'" class="text-danger">{{item.status}}</span>
                                </td>
                                <td>{{item.type }}</td>
                                <td>{{item.date | date :'h:mm a'}}</td>
                                <td><i class="fa fa-usd" aria-hidden="true"></i>{{item.amount | number :'1.0-1'}}</td>
                                <td class="text-center pointer">
                                    <span (click)="openModal(item)">
                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-between pt-4 bg-white">
                    <div>
                        <span class="mr-3">
                            Showing
                            <span class="bold">{{ShowingStart}} to
                                {{ShowingEnd}}
                            </span>of {{TotalRecords}}
                        </span>
                        <span>
                            Show
                            <select class="wd-50" [(ngModel)]="PageRecordLimit"
                                (ngModelChange)="PageRecordLimitChanged( $event)">
                                <option [ngValue]="TItem" *ngFor="let TItem of ListRecordLimit">
                                    {{TItem}}
                                </option>
                            </select>
                        </span>
                    </div>
                    <div>
                        <span class="float-right">
                            <pagination-controls id="Paginator" class="pagination pagination-space"
                                (pageChange)="pageChange($event)" nextLabel="" previousLabel="">
                            </pagination-controls>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade mg-t-35" id="tableModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0 h-25">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body pt-0">
                <div>
                    Name : <span style="font-weight: bold;">{{selectedTran.name}}</span>
                </div>
                <div>
                    Type : <span style="font-weight: bold;">{{selectedTran.type}}</span>
                </div>
            </div>
        </div>
    </div>
</div>