<div class="newsidebar sidebar">
    <div class="sidebar_lower ">
        <div class="row text-center" style="padding: 0.8rem 0.2rem;background-color: #F5F5F5;">
            <div class="col-sm-2"><a class="avatar "><img src="../../../../assets/img/Dummy.png" class="rounded-circle"
                        alt=""></a></div>
            <div class="col-sm-8">
                <span style="font-weight: bold;"> Hexa Bank
                </span>
            </div>
            <div class="col-sm-2">
                <a class=" cursor-pointer pl-3" (click)="collapseBar()">
                    <i class="fa fa-angle-left" aria-hidden="true" style="font-size: large;color: black;"></i>
                </a>
            </div>
        </div>
        <div class="row text-center" style="padding: 0.8rem 0.5rem;background-color: #F5F5F5;">
            <div class="col-sm-3"><a class="avatar "><img src="../../../../assets/img/Dummy.png" class="rounded-circle"
                        alt=""></a></div>
            <div class="col-sm-6">
                <span style="font-size:13px;font-weight: bold;">
                    Amit Kulkarni
                </span>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
        <div style="border-bottom: 0.2px solid gainsboro; width: 90%;margin-left:10px;"></div>


        <div class="pt-3">
            <div class="sidebar_lower-links">
                <div class="">
                    <h6 class="text-bold">MENU</h6>
                    <ul>
                        <li>
                            <a routerLinkActive="router-link-active" class="d-flex" [routerLink]="['/overview']">
                                <i class="fa fa-university" aria-hidden="true"></i>
                                <span class="px-2">Overview</span>
                            </a>
                        </li>
                        <li>
                            <a routerLinkActive="router-link-active" class="d-flex">
                                <i class="fa fa-list-ul" aria-hidden="true"></i>
                                <span class="px-2">Transactions</span>
                            </a>

                        </li>
                        <li>
                            <a routerLinkActive="router-link-active" class="d-flex">
                                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                <span class="px-2">Analytics</span>
                            </a>
                        </li>
                        <li>
                            <a routerLinkActive="router-link-active" class="d-flex">
                                <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                                <span class="px-2">Cards</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="">
                    <h6 class="text-bold">GENERAL</h6>
                    <ul>
                        <li>
                            <a routerLinkActive="router-link-active" class="d-flex">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                                <span class="px-2">Settings</span>
                            </a>
                        </li>
                        <li>
                            <a routerLinkActive="router-link-active" class="d-flex">
                                <i class="fa fa-question" aria-hidden="true"></i>
                                <span class="px-2">Help/Support</span>
                            </a>

                        </li>
                        <li>
                            <a routerLinkActive="router-link-active" class="d-flex">
                                <i class="fa fa-moon-o" aria-hidden="true"></i>
                                <span class="px-2">Dark Mode</span>
                                <span class="form-check form-switch" style="margin-left: 45px;margin-top: 0%;padding-top: 0%;">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                        id="flexSwitchCheckChecked" style="font-size: large;">
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pb-5">
            <div class="newPayment">
                <div class="Border">
                    <div class="container">
                        <!-- <input type="checkbox" id="toggle" checked /> -->
                        <label class="button" for="toggle"></label>
                    </div>
                </div>
                <div class="pt-2 text-center" style="font-size: 15px; font-weight:bold;">New Payment</div>
            </div>
        </div>
    </div>

</div>